*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-color: black;
    height: 109vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    margin-left: -85px;
}
.logo{
    color: rgb(219, 11, 115);
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    

}
.icon h2{
    transition: 0.4s ease-in-out;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 65px;
   
    font-size: 16px;
}
ul li a{
    
    
    text-decoration: none;
    color:antiquewhite;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    display: block;
    padding: 14px 16px;
}
ul li a:hover{
    color: aqua;
}
#i{
    margin-left: 105%;
}
.icon h2:hover{
    color: rgb(229, 204, 11);
}
#box{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 60px -16px rgb(31, 240, 160);
    padding: 10PX 10PX;
    margin-top:5%;
    margin-left: 25%;
    margin-right: 25%;
    font: italic small-caps bold 16px/2 cursive;

}
#ti{
    
    
    font-size: 5px;
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%);
    
    padding: 10PX 10PX;
   
    background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 65px;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }